*{margin: 0px;padding:0px;box-sizing: border-box;list-style: none;outline: none;text-decoration: none;}
body{background-color: rgb(139, 139, 139);}
/* start section */
body section{max-width:750px;height: 350px;position: fixed;top: 0px;bottom: 0px;left: 0px;right: 0px;margin: auto;}
    /* satrt container */
body section .container{min-width:100%; min-height: 100%;overflow: hidden;}
        /* strat boxs */
body section .container .boxs{min-width: 100%;display: flex;align-items: center;}
body section .container .boxs .box{ min-height: 350px;min-width: 100%;position: relative;}
body section .container .boxs .box h1{color:rgb(255, 255, 255);}
/* satrt bars */
body section .bars{display: flex;position: absolute;bottom: 25px;left: 50%;transform: translateX(-50%);}
body section .bars .bar{width: 35px;height: 10px;background-color: rgb(0, 0, 0,.8);border-radius: 5px;cursor: pointer;}
body section .bars .bar:nth-child(2){margin:0px 10px;}
/* satrt icon left ,right */
body section .chevron{position: absolute;top: 50%;transform: translateY(-50%);font-size: 2em;color: #fff;background-color: rgba(0, 0, 0, 0.7);padding:7px;cursor: pointer;}
body section a.chevron_right{right: 0px;}
body section .chevron i{display: block;}